<?xml version="1.0" encoding="UTF-8"?>
<!-- Rsa Create Installer Template              -->
<!-- Ver:  1.0                                  -->
<!-- Guid: 1f4941ee-e212-4e1d-bb14-e9fe3ec140e6 -->
<!-- Instruments: Vna(Zva, Znb)                 -->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="%ProductGuid%" Name="%ApplicationName%" Language="1033"
    Version="%Version%" Manufacturer="%Manufacturer%"
    UpgradeCode="%UpgradeCode%">
		
		<Package InstallerVersion="200"
      Compressed="yes" InstallScope="perMachine" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate  EmbedCab="yes" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="RS_Banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="RS_Dialog.bmp" />

    <Feature Id="AppFeature" Title="R&amp;S %ApplicationName%"
      Description="%Description%" Level="1">
      <ComponentRef Id="AppComponent" />
      <ComponentRef Id="RsVisa" />
      <ComponentRef Id="QCustomPlots" />
      <ComponentRef Id="QuaZip" />
      <ComponentRef Id="MsvcRuntime" />
      <ComponentRef Id="QtRuntime" />
      <ComponentRef Id="QtPlatformPlugin" />
      <ComponentRef Id="UninstallShortcutComponent"/>
    </Feature>
    
    <Property Id="ARPPRODUCTICON" Value="RS.ico" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir"/>
  </Product>

  <!-- Directory structure -->
  <Fragment>
    <SetDirectory Id="WINDOWSVOLUME" Value="[WindowsVolume]" />
    <SetDirectory Id="ZNBExternalToolsFolder"
      Value="[WindowsVolume]\Users\Public\Documents\Rohde-Schwarz\Vna\External Tools\" />
    <SetDirectory Id="ZVAExternalToolsFolder"
      Value="[WindowsVolume]\Rohde&amp;Schwarz\Nwa\External Tools\" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WINDOWSVOLUME">
        <Directory Id="ProgramFilesFolder">
          <Directory Id="CompanyFilesFolder" Name="Rohde-Schwarz">
            <Directory Id="INSTALLFOLDER" Name="%APP_FOLDER%">
              <Directory Id="PlatformsFolder" Name="platforms" />
            </Directory>
          </Directory>
        </Directory>
        <Directory Id="ProgramMenuFolder">
          <Directory Id="ApplicationStartMenuFolder"
            Name="R&amp;S %ApplicationName%" />
        </Directory>
      </Directory>
      <Directory Id="ZNBExternalToolsFolder" />
      <Directory Id="ZVAExternalToolsFolder" />
      <Directory Id="CommonAppDataFolder">
        <Directory Id="CompanyDataFolder" Name="Rohde-Schwarz">
          <Directory Id="MyAppDataFolder" Name="%ApplicationName%">
            <Directory Id="SettingsFolder" Name="Settings" />
          </Directory>
        </Directory>
      </Directory>
      </Directory>
  </Fragment>

  <!-- Application Components -->
  <Fragment>
    <!-- Application files -->
    <Icon Id="RS.ico" SourceFile="RS.ico"/>
    <Component Id="AppComponent" Guid="%ExecutableGuid%"
      Directory="INSTALLFOLDER">
      <CreateFolder Directory="SettingsFolder" />
      <CreateFolder Directory="PlatformsFolder" />
      <File Id="AppExecutable" Name="%ApplicationName%.exe"
        Source="%EXECUTABLE_PATH%" KeyPath="yes">
        <Shortcut Id="AppShortcut" Name="R&amp;S %ApplicationName%"
          Directory="ApplicationStartMenuFolder"
          Description="%Description%" Advertise="yes" Icon="RS.ico"/>
        <Shortcut Id="ZNBShortcut" Name="%InstrumentShortcutName%"
          Directory="ZNBExternalToolsFolder" Advertise="yes" Icon="RS.ico"/>
        <Shortcut Id="ZVAShortcut" Name="%InstrumentShortcutName%"
          Directory="ZVAExternalToolsFolder" Advertise="yes" Icon="RS.ico"/>
      </File>
      <File Id="RSA_License" Name="License.txt" Source="License.txt" />
      <RemoveFile Id="PurgeInstallFolder" Name="*.*" On="uninstall" />
      <RemoveFile Id="PurgePluginsFolder"
        Directory="PlatformsFolder" Name="*.*" On="uninstall" />
      <RemoveFile Id="PurgeAppDataFolder"
        Directory="MyAppDataFolder" Name="*.*" On="uninstall" />
      <RemoveFile Id="PurgeSettingsFolder"
        Directory="SettingsFolder" Name="*.*" On="uninstall" />
      <RemoveFolder Id="RemoveSettingsFolder"
        Directory="SettingsFolder" On="uninstall" />
      <RemoveFolder Id="RemoveAppStartMenuFolder"
        Directory="ApplicationStartMenuFolder" On="uninstall" />
      <RemoveFolder Id="RemoveAppDataFolder"
        Directory="MyAppDataFolder" On="uninstall" />
      <RemoveFolder Id="RemoveCompanyDataFolder"
        Directory="CompanyDataFolder" On="uninstall" />
      <RemoveFolder Id="RemoveInstallFolder"
        Directory="INSTALLFOLDER" On="uninstall" />
    </Component>
    <Component Id="RsVisa" Guid="%RsVisaGuid%"
      Directory="INSTALLFOLDER">
      <File Id="RsVisa32.dll" Name="RsVisa32.dll"
        Source="..\RsaToolbox\Bus\Visa\RsVisa32.dll" KeyPath="yes"/>
    </Component>
    <Component Id="QCustomPlots" Guid="%QCustomPlotsGuid%"
      Directory="INSTALLFOLDER">
    	<File Id="qcustomplot.dll" Name="qcustomplot.dll"
        Source="..\RsaToolbox\QCustomPlot\qcustomplot.dll" KeyPath="yes" />
    </Component>
    <Component Id="QuaZip" Guid="%QuaZIPGuid%"
      Directory="INSTALLFOLDER">
      <File Id="quazip.dll" Name="quazip.dll"
        Source="..\RsaToolbox\QuaZip\quazip.dll" KeyPath="yes" />
      <File Id="zlib1.dll" Name="zlib1.dll"
        Source="..\RsaToolbox\QuaZip\ZLib\zlib1.dll" />
    </Component>
    <Component Id="MsvcRuntime" Guid="%MsvcRuntimeGuid%"
      Directory="INSTALLFOLDER">
      <File Id="msvcr100.dll" Name="msvcr100.dll"
        Source="%MsvcRuntimePath%\msvcr100.dll" KeyPath="yes"/>
      <File Id="msvcp100.dll" Name="msvcp100.dll"
        Source="%MsvcRuntimePath%\msvcp100.dll" />
    </Component>
    <Component Id="QtRuntime" Guid="%QtRuntimeGuid%"
      Directory="INSTALLFOLDER">
      <File Id="Qt5Core.dll" Name="Qt5Core.dll"
        Source="%QtRuntimePath%\Qt5Core.dll" KeyPath="yes" />
      <File Id="Qt5Gui.dll" Name="Qt5Gui.dll"
        Source="%QtRuntimePath%\Qt5Gui.dll" />
      <File Id="Qt5Widgets.dll" Name="Qt5Widgets.dll"
        Source="%QtRuntimePath%\Qt5Widgets.dll" />
      <File Id="libGLESv2.dll" Name="libGLESv2.dll"
        Source="%QtRuntimePath%\libGLESv2.dll" />
      <File Id="libEGL.dll" Name="libEGL.dll"
        Source="%QtRuntimePath%\libEGL.dll" />
      <File Id="D3DCompiler_43.dll" Name="D3DCompiler_43.dll"
        Source="%QtRuntimePath%\D3DCompiler_43.dll" />
      <File Id="icudt51.dll" Name="icudt51.dll"
        Source="%QtRuntimePath%\icudt51.dll" />
      <File Id="icuin51.dll" Name="icuin51.dll"
        Source="%QtRuntimePath%\icuin51.dll" />
      <File Id="icuuc51.dll" Name="icuuc51.dll"
        Source="%QtRuntimePath%\icuuc51.dll" />
      <File Id="Qt5Network.dll" Name="Qt5Network.dll"
        Source="%QtRuntimePath%\Qt5Network.dll" />
      <File Id="Qt5PrintSupport.dll" Name="Qt5PrintSupport.dll"
        Source="%QtRuntimePath%\Qt5PrintSupport.dll" />
    </Component>
    <Component Id="QtPlatformPlugin" Guid="%QtPlatformPluginGuid%"
      Directory="PlatformsFolder">
      <File Id="qwindows.dll" Name="qwindows.dll"
        Source="%QtRuntimePath%\..\plugins\platforms\qwindows.dll" KeyPath="yes" />
    </Component>
    <Component Id="UninstallShortcutComponent"
      Guid="%UninstallShortcutGuid%" Directory="ApplicationStartMenuFolder">
      <RegistryKey Root="HKCU"
        Key="Software\Rohde-Schwarz\%ApplicationName%\Uninstall">
        <RegistryValue Value="Registry entry for %ApplicationName% uninstall shortcut"
          Type="string" KeyPath="yes" />
      </RegistryKey>
      <Shortcut Id="UninstallShortcut" Name="Uninstall"
        Target="[SystemFolder]msiexec.exe" Arguments="/x [ProductCode]" />
    </Component>
  </Fragment>
</Wix>